:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("@/assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

html,
body,
#root {
  height: 100%;
}

#root {
  /* display: flex;
  overflow: scroll;
  flex-wrap: wrap-reverse;
  align-content: center; */
}
